<div ng-view name="administrator-dashboard">
	<h2>Area de administración</h2>
	<md-list ng-cloak >
		<md-subheader class="md-no-sticky">Lista de cursos del periodo: {{}}</md-subheader>
		<md-list-item ng-repeat="course in courses" layout="row">
			<div class="md-list-item-text" layout="column" layout-margin>
				<h3>{{course.subject}}</h3>
				<h4>{{course.cohort}}</h4>
				<p> <small>{{course.students.length}} Estudiantes</small></p>
				<md-button class="layout-align-start-center layout-row">Ver</md-button>
			</div>
		</md-list-item>
	</md-list>
</div>