<div class="profile" ng-show="profile">
	<div class="jumbotron profile__header">
		<img src="{{ profile.photo ? profile.photo.thumbnail_100x100: 'no-image.png' }}" alt="{{ profile.username }}">
		<h2 >{{ profile.username }}</h2>
	</div>
	<div class="user-info">
		<h3>User details</h3>
		<dl class="dl-horizontal">
			<dt>Name:</dt>
			<dd>{{profile.first_name}} {{profile.last_name}}</dd>
			
			<dt>Email:</dt>
			<dd>{{profile.email}}</dd>

			<dt>Created at:</dt>
			<dd>{{profile.created_at}}</dd>
		</dl>
	</div>
	<div class="student-info">
		<h3>Student details</h3>
	</div>
</div>