body{
	background-color: #e7e7e7;
    font-size: 14px;
}
.md-button{
    text-transform: none;
}
#ngProgress-container {
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}
#menu-user-info{
    background-image:url('/media/logonatkan.png'); height: 125px; 
}
#menu-user-info md-list{
    position:absolute; bottom: 0;   
    padding: 0;
}
#student-info md-list-item{
    min-height: inherit;
}

#menu-user-info md-list-item{
	min-height: inherit;
}
md-sidenav.md-locked-open{
    width: 220px;
    min-width: 220px;
    max-width: 220px;
}
.md-sidenav-left .md-button{
	margin: 0;
	padding: 0;
}
