body{
	background-color: #e7e7e7;
    font-size: 14px;
    font-family: Tahoma, Geneva, sans-serif;
}
h1.title,h2.title,h3.title,h4.title,h5.title,h6.title{
    color: #777;
}
h1.title2,h2.title2,h3.title2,h4.title2,h5.title2,h6.title2{
    color: #FF9933;
}
#showcase{
    color: #FFF;
    min-height: 200px;
    background-image: url(http://natkan.mx/images/slide/1.JPG);
    background-position: center;
    background-size: 100%;
    position: relative;
}
#showcase h1{
    position: absolute;
    bottom: 0;
    padding:20px;
    color: #FFF;
    background-color: #000;
    opacity: 0.8;
    width: 100%;
    left: 0;
    margin: 0;
    font-weight: lighter;
}


.md-button{
    text-transform: none;
}
#ngProgress-container {
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}







#menu-user-info{
    background-image:url('/media/logonatkan.png'); height: 125px; 
}
#menu-user-info md-list{
    position:absolute; bottom: 0;   
    padding: 0;
}
#student-info md-list-item{
    min-height: inherit;
}

#menu-user-info md-list-item{
	min-height: inherit;
}
md-sidenav.md-locked-open{
    width: 220px;
    min-width: 220px;
    max-width: 220px;
}
.md-sidenav-left .md-button{
	margin: 0;
	padding: 0;
}
