{% load compress %}
{% load staticfiles %}

{% compress js %}
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap-material-design/dist/js/material.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap-material-design/dist/js/ripples.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/underscore/underscore.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/ngDialog/js/ngDialog.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/ngprogress/build/ngProgress.js' %}"></script>

<script type="text/javascript" src="{% static 'lib/snackbarjs/snackbar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/ntkn.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/ntkn.config.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/ntkn.routes.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/services/validate.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/master.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/main.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/login.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/logout.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/dashboard.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/profile/profile.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/profile/services/profile.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/profile/controllers/profile.controller.js' %}"></script>


{#  <script type="text/javascript" src="{% static 'javascripts/layout/layout.module.js' %}"></script>#}
{#  <script type="text/javascript" src="{% static 'javascripts/layout/controllers/navbar.controller.js' %}"></script> #}
{#	<script type="text/javascript" src="{% static 'javascripts/authentication/interceptors/auth.interceptor.js' %}"></script> #}
{% endcompress %}